.branch-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}
.branch-input label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

.branch-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.branch-input input:focus {
    border-color: #007bff; /* Primary color */
    outline: none;
}
button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Primary color */
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker shade of primary color */
}
.Branch-list {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.Branch-list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Branch-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease;
}

.Branch-list li:hover {
    background-color: #f1f1f1;
}

.branch-button button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.branch-button button svg {
    fill: #007bff; /* Primary color */
    transition: fill 0.3s ease;
}

.branch-button button:hover svg {
    fill: #0056b3; /* Darker shade of primary color */
}
@media (max-width: 768px) {
    .branch-form, .Branch-list {
        padding: 15px;
        box-shadow: none;
    }

    .branch-input input {
        font-size: 14px;
        padding: 8px;
    }

    button[type="submit"] {
        padding: 10px;
        font-size: 16px;
    }

    .Branch-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .Branch-list li div {
        margin-bottom: 10px;
    }
}
.branch-form p {
    color: #ff4d4d; /* Red color for errors */
    font-weight: bold;
    margin-top: -15px;
    margin-bottom: 15px;
}
