.receipt-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  padding: 20px;
  width: 300px;
  margin: 20px auto;
  background-color: #f9f9f9;
}

.receipt-header {
  text-align: center;
  margin-bottom: 20px;
}

.receipt-header h1 {
  margin: 0;
  font-size: 18px;
}

.receipt-body {
  margin-bottom: 20px;
}

.receipt-body table {
  width: 100%;
  border-collapse: collapse;
}

.receipt-body th, .receipt-body td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.receipt-footer {
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.receipt-footer h2 {
  margin: 10px 0;
}
.receipt-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.receipt-actions button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.date-transaction{
  display: flex;
  justify-content: space-between;
}
.company-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;

}
strong{
  font-size: 19px;
  font-weight: 500;
  color: #000;
}
.receipt-container p{
font-size: 15px;
font-weight: 500;
color: #000000c0;
}
.tax-discount{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}